/*
 * URL ............ http://matthewgump.com
 * VERSION ........ 0.4.0
 * AUTHOR ......... Matt Gump
*/


@import 'reset';


/* ==========================================================================
   Global Variables
   ========================================================================== */


$site-max-w: 960px;
$fontfamily-lv1: 'Raleway', Helvetica, Arial, sans-serif;
$fontfamily-lv2: Helvetica, Arial, sans-serif;


/* Color Palette
   ========================================================================== */


$color-primary: #ff272d;
$color-secondary: #bef800;
$color-lv1: #fff;
$color-lv2: #d9d9d9;
$color-lv3: #a6a6a6;
$color-lv4: #7f7f7f;
$color-lv5: #595959;
$color-lv6: #212121;
$color-lv7: #000;


/* ==========================================================================
   Mixins
   ========================================================================== */


@mixin vertical-align {
  position: relative;
  top: 50%;
  -webkit-transform: translateY(-50%);
          transform: translateY(-50%);
}



/* ==========================================================================
   Base Styles: Opinionated Defaults
   ========================================================================== */


*,
*:before,
*:after {
      box-sizing: border-box;

  -ms-box-sizing: border-box;
}

blockquote,
q {
  quotes: none;
}

blockquote:before,
blockquote:after,
q:before,
q:after {
  content: '';
  content: none;
}

table {
  border-spacing: 0;
  border-collapse: collapse;
}

html,
button,
input,
select,
textarea {
  color: #222;
}

body {
  margin: 0;
  color: inherit;
}

hr {
  display: block;
  height: 1px;
  margin: 1em 0;
  padding: 0;
  border: 0;
  border-top: 1px solid #ccc;
}

img {
  vertical-align: middle;
}

fieldset {
  margin: 0;
  padding: 0;
  border: 0;
}

textarea {
  resize: vertical;
}

::-moz-selection {
  color: #fff;
  background: $color-primary;
  text-shadow: none;
}

::selection {
  color: #fff;
  background: $color-primary;
  text-shadow: none;
}


/* ==========================================================================
   Base Typography styles
   ========================================================================== */


body {
  font-family: $fontfamily-lv2;
  font-size: 100%;
  line-height: 1.5em;

  -webkit-font-smoothing: antialiased;
}

.font-lv1 {
  font-family: $fontfamily-lv1;
}

/* Default Link Styles */

a {
  text-decoration: none;
  color: #000;
  border-bottom: 1px solid $color-primary;
  &:hover,
  &:focus {
    text-decoration: none;
    color: $color-primary;
    border-bottom: none;
  }
  & img {
    border: 0 none;
  }
}

/* Default Header Styles */

h1,
h2,
h3,
h4,
h5,
h6 {
  line-height: 1;
  margin-top: 0;
  color: inherit;

  text-rendering: optimizeLegibility;
}

h1,
.h1 {
  font-size: 2.250em; // 36px
  margin-bottom: .5em;
}

h2,
.h2 {
  font-size: 1.875em; // 30px
  margin-bottom: .65em;
}

h3,
.h3 {
  font-size: 1.500em; // 24px
  margin-bottom: .8em;
}

h4,
.h4 {
  font-size: 1.125em; // 18px
  margin-bottom: 1.0em;
}

h5,
.h5 {
  font-size: .875em; // 14px
  margin-bottom: 1.4em;
}

h6,
.h6 {
  font-size: .750em; // 12px
  margin-bottom: 1.65em;
}

/* Default List Styles */

ul,
ol {
  font-size: .875em; // 14px
  margin: 0 0 12px 18px;
  padding: 0;
}

ul ul,
ul ol,
ol ol,
ol ul {
  margin-bottom: 0;
}

ul {
  list-style: none;
}

li {
  line-height: 1.428em;
}

.disc {
  margin-left: 0;
  padding-left: 18px;
  list-style: disc;
}

/* Default Paragraph Styles */

p {
  font-family: $fontfamily-lv2;
  font-size: .875em; // 14px
  line-height: 1.428;
  margin-bottom: .750em;
}


/* ==========================================================================
   Grid System
   ========================================================================== */


@import 'grid.generator.scss';
@include gridGenerator();

// Default settings for gridGenerator()
//     $gridColumns: 12,                    // number of grid columns
//;     $breakpoints: (0, 480px, 800px),     // array of breakpoints
//;     $breakpointPrefixes: (s-,m-,l-),     // array of breakpoint prefixes
//;     $breakpointType: 'px',               // breakpoint type px or em
//;     $spaceUnits: (8px,16px,32px)         // array padding and margin units


// Custom; Settings:
//
// For example, use a 18-column grid (and keep all the other defaults:
// @include gridGenerator(18);

// Change the breakpoints, or add in more.
// Name the prefixes whatever you like xs-, xl-, etc.
// If you prefer, set ems for your breakpoints.
// @include gridGenerator(
//     12,
//     (0, 20em, 30em, 60em, 80em),
//     (xs-,s-,m-,l-,xl-),
//     'em'
// );

// Set custom padding and margin utility classes to make
// creating and modifying responsive layouts fast and easy.
// @include gridGenerator(
//     12,
//     (0, 480px, 800px),
//     (s-,m-,l-),
//     'px',
//     $spaceUnits: (.5em,1em,2em)
// );

// Or don’t use any spacing helpers, if you prefer
// @include gridGenerator(
//     12,
//     (0, 480px, 800px),
//     (s-,m-,l-),
//     'px',
//     $spaceUnits: false
// );


/* ==========================================================================
   Buttons
   ========================================================================== */


.btn {
  font-size: 14px;
  line-height: 14px;
  display: inline-block;
  margin-bottom: 12px;
  padding: 12px 30px;
  cursor: pointer;
  text-align: center;
  vertical-align: middle;
  color: $color-lv1;
  border: 1px solid $color-lv1;
  &:hover,
  &:focus {
    transition: all .25s ease-out;
    text-decoration: none;
    color: $color-lv7;
    border: 1px solid $color-lv1;
    background: $color-lv1;
  }
}

.btn--fullWidth {
  width: 100%;
}

.btn-text {
  font-size: 12px;
  display: inline-block;
  text-transform: uppercase;
  color: $color-lv1;
  border: none;
  &:hover,
  &:focus {
    transition: all .25s ease-out;
    color: $color-lv3;
  }
  &:before {
    content: '\00BB \0020';
  }
}


/* ==========================================================================
   Top-Level Region Layout Styles
   ========================================================================== */

.section-main,
.footer-site {
  overflow: auto;
  margin: 0 auto;
}


/* ==========================================================================
   Site Header
   ========================================================================== */


.wrapperHeader-site {
  width: 100%;
  background: $color-lv6 url('../img/bg_main_sm.jpg') no-repeat top center;
}

.header-site {
  height: 92vh;
  min-height: 400px;
  text-align: center;
}

.headerGroup {
  @include vertical-align;
}

.lt-ie10 .headerGroup {
  position: relative;
  top: 20%;
}

.logoHeader {
  display: inline-block;
  width: 40%;
  max-width: 230px;
  & img {
    width: 100%;
    height: auto;
  }
}

.headerSkip {
  display: block;
  width: 100%;
  height: 8vh;
  min-height: 50px;
  text-align: center;
  border: none;
  &:hover img {
    top: 10%;
  }
  & img {
    position: relative;
    top: 0;
    transition: all .25s ease-out;
  }
}

@-webkit-keyframes flipInX {
  0% {
    -webkit-transition-timing-function: ease-in;
            transition-timing-function: ease-in;
    -webkit-transform: perspective(400px) rotate3d(1, 0, 0, 90deg);
            transform: perspective(400px) rotate3d(1, 0, 0, 90deg);
    opacity: 0;
  }

  40% {
    -webkit-transition-timing-function: ease-in;
            transition-timing-function: ease-in;
    -webkit-transform: perspective(400px) rotate3d(1, 0, 0, -20deg);
            transform: perspective(400px) rotate3d(1, 0, 0, -20deg);
  }

  60% {
    -webkit-transform: perspective(400px) rotate3d(1, 0, 0, 10deg);
            transform: perspective(400px) rotate3d(1, 0, 0, 10deg);
    opacity: 1;
  }

  80% {
    -webkit-transform: perspective(400px) rotate3d(1, 0, 0, -5deg);
            transform: perspective(400px) rotate3d(1, 0, 0, -5deg);
  }

  100% {
    -webkit-transform: perspective(400px);
            transform: perspective(400px);
  }
}

@keyframes flipInX {
  0% {
    -webkit-transition-timing-function: ease-in;
            transition-timing-function: ease-in;
    -webkit-transform: perspective(400px) rotate3d(1, 0, 0, 90deg);
            transform: perspective(400px) rotate3d(1, 0, 0, 90deg);
    opacity: 0;
  }

  40% {
    -webkit-transition-timing-function: ease-in;
            transition-timing-function: ease-in;
    -webkit-transform: perspective(400px) rotate3d(1, 0, 0, -20deg);
            transform: perspective(400px) rotate3d(1, 0, 0, -20deg);
  }

  60% {
    -webkit-transform: perspective(400px) rotate3d(1, 0, 0, 10deg);
            transform: perspective(400px) rotate3d(1, 0, 0, 10deg);
    opacity: 1;
  }

  80% {
    -webkit-transform: perspective(400px) rotate3d(1, 0, 0, -5deg);
            transform: perspective(400px) rotate3d(1, 0, 0, -5deg);
  }

  100% {
    -webkit-transform: perspective(400px);
            transform: perspective(400px);
  }
}

.flipInX {
  -webkit-animation-name: flipInX;
          animation-name: flipInX;
  -webkit-animation-duration: 3s;
          animation-duration: 3s;

  -webkit-animation-fill-mode: both;
          animation-fill-mode: both;
  -webkit-backface-visibility: visible !important;
          backface-visibility: visible !important;
}

/* @media Queries
------------------------------------------------*/

@media (min-width: 400px) {
  .wrapperHeader-site {
    background: $color-lv6 url('../img/bg_main_md.jpg') no-repeat;
    background-attachment: fixed;
    background-size: cover;
  }
}

@media (min-width: 600px) {
  .wrapperHeader-site {
    background: $color-lv6 url('../img/bg_main_lg.jpg') no-repeat;
    background-attachment: fixed;
    background-size: cover;
  }
}


/* ==========================================================================
   Intro
   ========================================================================== */


.section-intro {
  max-width: $site-max-w;
  padding: 32px 0;
}

/* @media Queries
------------------------------------------------*/

@media (min-width: 600px) {
  .section-intro {
    padding: 80px 0;
  }
}


/* ==========================================================================
   Projects
   ========================================================================== */


.wrapperSection-projects {
  background: $color-lv1;
}

.section-projects {
  max-width: $site-max-w;
}

.project {
  overflow: auto;
  margin-bottom: 64px;
  background: $color-lv6 url('../img/darkdenim3.png') repeat;
}

.project-description {
  padding: 16px;
}

.project-graphic {
  img {
    width: 100%;
    height: auto;
  }
}

/* @media Queries
------------------------------------------------*/

@media (min-width: 750px) {
  .project-description {
    float: left;
    width: 37.5%;
    padding-top: 64px;
  }
  .project-graphic {
    float: right;
    width: 62.5%;
  }
}

@media (min-width: 960px) {
  .project-description {
    padding: 64px 32px 0;
  }
}


/* ==========================================================================
   Project Modle
   ========================================================================== */


.noscrollbar {
  overflow: hidden;
}

.modal {
  position: fixed;
  z-index: 9999;
  top: 0;
  left: 0;
  display: none;
  overflow: scroll;
  width: 100%;
  height: 100%;
  background: $color-lv1;
}

.header-modal {
  position: fixed;
  width: 100%;
  background: $color-lv6;
}

.btn-closeModal {
  line-height: 80px;
  float: right;
  height: 80px;
  padding: 0 32px;
  transition: all .25s ease-out;
  color: $color-lv7;
  border: none;
  background: $color-lv2;
  &:hover {
    cursor: pointer;
    background: $color-lv3;
  }
}

.section-modal {
  overflow: auto;
  width: 100%;
  padding: 150px 0 64px;
  text-align: center;
}

.intro-modal {
  max-width: 600px;
  margin: 0 auto 32px;
}

.projectGraphic-modal {
  padding: 0 6%;
  img {
    max-width: 100%;
    height: auto;
  }
}


/* ==========================================================================
   Contact Form
   ========================================================================== */


.wrapperSection-contact {
  padding: 64px 0;
  background: $color-lv2 ;
}

.section-contact {
  max-width: $site-max-w;
}

input[type=text],
input[type=submit],
input[type=email],
textarea {
  border-radius: 0; // iOS override

  -webkit-appearance: none; // iOS override
}

input,
textarea {
  font-size: 14px;
  margin: 0;
  padding: 0;
  border: 0;
}

label,
input,
textarea {
  display: block;
}

input {
  width: 100%;
  padding: 12px;
  color: $color-lv7;
  background: $color-lv1;
}

::-webkit-input-placeholder {
  color: $color-lv4;
}

input:-moz-placeholder {
  color: $color-lv4;
}

textarea {
  font-family: $fontfamily-lv2;
  overflow: auto;
  width: 100%;
  min-height: 170px;
  padding: 12px;
  color: $color-lv7;
  background: $color-lv1;
}

textarea::-webkit-input-placeholder {
  font-family: $fontfamily-lv2;
  color: $color-lv4;
}

textarea:-moz-placeholder {
  font-family: $fontfamily-lv2;
  color: $color-lv4;
}

textarea:-ms-input-placeholder {
  font-family: $fontfamily-lv2;
  color: $color-lv4;
}

input[type=submit] {
  line-height: 25px;
  float: right;
  width: 50%;
  height: 50px;
  cursor: pointer;
  color: $color-lv7;
}

input[type=submit]:hover {
  transition: all .25s ease-out;
  background: $color-secondary;
}

input.loading,
input.loading:hover {
  overflow: hidden;
  width: 50px;
  height: 50px;
  transition: width ease .5s,
  border-radius ease .5s;
  text-indent: -9999px;
  border-bottom: none;
  border-radius: 50%;
  outline: none;
  background: $color-secondary url('../img/loading.gif') no-repeat center center;
}

.error {
  background-color: $color-primary;
}

.done {
  display: none;
}


/* ==========================================================================
   Footer
   ========================================================================== */


.wrapperSection-footer {
  background: $color-lv6;
}

.footer-site {
  font-size: .75em;
  max-width: $site-max-w;
  padding: 24px 0 32px;
  text-align: center;
}

/* @media Queries
------------------------------------------------*/

@media (min-width: 800px) {
  .footer-site div:first-child {
    text-align: left;
  }

  .footer-site div:last-child {
    text-align: right;
  }
}


/* ==========================================================================
   Helper Classes
   ========================================================================== */


@import 'helpers'


